{
{{#SEDE_EXECUTOR_ID}}
  "executorId": "{{SEDE_EXECUTOR_ID}}",
{{/SEDE_EXECUTOR_ID}}
{{#SEDE_GROUP_ID}}
  "groupId": "{{SEDE_GROUP_ID}}",
{{/SEDE_GROUP_ID}}
  "gateways": {{SEDE_GATEWAYS}},
  "threadNumber": {{SEDE_THREAD_NUMBER}},
  "capabilities": {{SEDE_CAPABILITIES}},
  "serviceStoreLocation": "{{SEDE_SERVICE_STORE_LOCATION}}",
  "services": {{SEDE_SERVICES}}
}

